.as_flag:before {
	content: "";
	position: relative;
	width: 16px;
	height: 11px;
	margin-right: 4px;
	display: inline-block;
	background: no-repeat url("chrome-extension://__MSG_@@extension_id__/img/flags/flags.png") top left;
}

.as_flag.as_flag_ad:before {background-position: -16px 0}
.as_flag.as_flag_ae:before {background-position: -32px 0}
.as_flag.as_flag_af:before {background-position: -48px 0}
.as_flag.as_flag_ag:before {background-position: -64px 0}
.as_flag.as_flag_ai:before {background-position: -80px 0}
.as_flag.as_flag_al:before {background-position: -96px 0}
.as_flag.as_flag_am:before {background-position: -112px 0}
.as_flag.as_flag_an:before {background-position: -128px 0}
.as_flag.as_flag_ao:before {background-position: -144px 0}
.as_flag.as_flag_ar:before {background-position: -160px 0}
.as_flag.as_flag_as:before {background-position: -176px 0}
.as_flag.as_flag_at:before {background-position: -192px 0}
.as_flag.as_flag_au:before {background-position: -208px 0}
.as_flag.as_flag_aw:before {background-position: -224px 0}
.as_flag.as_flag_az:before {background-position: -240px 0}
.as_flag.as_flag_ba:before {background-position: 0 -11px}
.as_flag.as_flag_bb:before {background-position: -16px -11px}
.as_flag.as_flag_bd:before {background-position: -32px -11px}
.as_flag.as_flag_be:before {background-position: -48px -11px}
.as_flag.as_flag_bf:before {background-position: -64px -11px}
.as_flag.as_flag_bg:before {background-position: -80px -11px}
.as_flag.as_flag_bh:before {background-position: -96px -11px}
.as_flag.as_flag_bi:before {background-position: -112px -11px}
.as_flag.as_flag_bj:before {background-position: -128px -11px}
.as_flag.as_flag_bm:before {background-position: -144px -11px}
.as_flag.as_flag_bn:before {background-position: -160px -11px}
.as_flag.as_flag_bo:before {background-position: -176px -11px}
.as_flag.as_flag_br:before {background-position: -192px -11px}
.as_flag.as_flag_bs:before {background-position: -208px -11px}
.as_flag.as_flag_bt:before {background-position: -224px -11px}
.as_flag.as_flag_bv:before {background-position: -240px -11px}
.as_flag.as_flag_bw:before {background-position: 0 -22px}
.as_flag.as_flag_by:before {background-position: -16px -22px}
.as_flag.as_flag_bz:before {background-position: -32px -22px}
.as_flag.as_flag_ca:before {background-position: -48px -22px}
.as_flag.as_flag_catalonia:before {background-position: -64px -22px}
.as_flag.as_flag_cd:before {background-position: -80px -22px}
.as_flag.as_flag_cf:before {background-position: -96px -22px}
.as_flag.as_flag_cg:before {background-position: -112px -22px}
.as_flag.as_flag_ch:before {background-position: -128px -22px}
.as_flag.as_flag_ci:before {background-position: -144px -22px}
.as_flag.as_flag_ck:before {background-position: -160px -22px}
.as_flag.as_flag_cl:before {background-position: -176px -22px}
.as_flag.as_flag_cm:before {background-position: -192px -22px}
.as_flag.as_flag_cn:before {background-position: -208px -22px}
.as_flag.as_flag_co:before {background-position: -224px -22px}
.as_flag.as_flag_cr:before {background-position: -240px -22px}
.as_flag.as_flag_cu:before {background-position: 0 -33px}
.as_flag.as_flag_cv:before {background-position: -16px -33px}
.as_flag.as_flag_cw:before {background-position: -32px -33px}
.as_flag.as_flag_cy:before {background-position: -48px -33px}
.as_flag.as_flag_cz:before {background-position: -64px -33px}
.as_flag.as_flag_de:before {background-position: -80px -33px}
.as_flag.as_flag_dj:before {background-position: -96px -33px}
.as_flag.as_flag_dk:before {background-position: -112px -33px}
.as_flag.as_flag_dm:before {background-position: -128px -33px}
.as_flag.as_flag_do:before {background-position: -144px -33px}
.as_flag.as_flag_dz:before {background-position: -160px -33px}
.as_flag.as_flag_ec:before {background-position: -176px -33px}
.as_flag.as_flag_ee:before {background-position: -192px -33px}
.as_flag.as_flag_eg:before {background-position: -208px -33px}
.as_flag.as_flag_eh:before {background-position: -224px -33px}
.as_flag.as_flag_england:before {background-position: -240px -33px}
.as_flag.as_flag_er:before {background-position: 0 -44px}
.as_flag.as_flag_es:before {background-position: -16px -44px}
.as_flag.as_flag_et:before {background-position: -32px -44px}
.as_flag.as_flag_eu1:before {background-position: -48px -44px}
.as_flag.as_flag_fi:before {background-position: -64px -44px}
.as_flag.as_flag_fj:before {background-position: -80px -44px}
.as_flag.as_flag_fk:before {background-position: -96px -44px}
.as_flag.as_flag_fm:before {background-position: -112px -44px}
.as_flag.as_flag_fo:before {background-position: -128px -44px}
.as_flag.as_flag_fr:before {background-position: -144px -44px}
.as_flag.as_flag_ga:before {background-position: -160px -44px}
.as_flag.as_flag_gb:before {background-position: -176px -44px}
.as_flag.as_flag_gd:before {background-position: -192px -44px}
.as_flag.as_flag_ge:before {background-position: -208px -44px}
.as_flag.as_flag_gf:before {background-position: -224px -44px}
.as_flag.as_flag_gg:before {background-position: -240px -44px}
.as_flag.as_flag_gh:before {background-position: 0 -55px}
.as_flag.as_flag_gi:before {background-position: -16px -55px}
.as_flag.as_flag_gl:before {background-position: -32px -55px}
.as_flag.as_flag_gm:before {background-position: -48px -55px}
.as_flag.as_flag_gn:before {background-position: -64px -55px}
.as_flag.as_flag_gp:before {background-position: -80px -55px}
.as_flag.as_flag_gq:before {background-position: -96px -55px}
.as_flag.as_flag_gr:before {background-position: -112px -55px}
.as_flag.as_flag_gs:before {background-position: -128px -55px}
.as_flag.as_flag_gt:before {background-position: -144px -55px}
.as_flag.as_flag_gu:before {background-position: -160px -55px}
.as_flag.as_flag_gw:before {background-position: -176px -55px}
.as_flag.as_flag_gy:before {background-position: -192px -55px}
.as_flag.as_flag_hk:before {background-position: -208px -55px}
.as_flag.as_flag_hm:before {background-position: -224px -55px}
.as_flag.as_flag_hn:before {background-position: -240px -55px}
.as_flag.as_flag_hr:before {background-position: 0 -66px}
.as_flag.as_flag_ht:before {background-position: -16px -66px}
.as_flag.as_flag_hu:before {background-position: -32px -66px}
.as_flag.as_flag_ic:before {background-position: -48px -66px}
.as_flag.as_flag_id:before {background-position: -64px -66px}
.as_flag.as_flag_ie:before {background-position: -80px -66px}
.as_flag.as_flag_il:before {background-position: -96px -66px}
.as_flag.as_flag_im:before {background-position: -112px -66px}
.as_flag.as_flag_in:before {background-position: -128px -66px}
.as_flag.as_flag_io:before {background-position: -144px -66px}
.as_flag.as_flag_iq:before {background-position: -160px -66px}
.as_flag.as_flag_ir:before {background-position: -176px -66px}
.as_flag.as_flag_is:before {background-position: -192px -66px}
.as_flag.as_flag_it:before {background-position: -208px -66px}
.as_flag.as_flag_je:before {background-position: -224px -66px}
.as_flag.as_flag_jm:before {background-position: -240px -66px}
.as_flag.as_flag_jo:before {background-position: 0 -77px}
.as_flag.as_flag_jp:before {background-position: -16px -77px}
.as_flag.as_flag_ke:before {background-position: -32px -77px}
.as_flag.as_flag_kg:before {background-position: -48px -77px}
.as_flag.as_flag_kh:before {background-position: -64px -77px}
.as_flag.as_flag_ki:before {background-position: -80px -77px}
.as_flag.as_flag_km:before {background-position: -96px -77px}
.as_flag.as_flag_kn:before {background-position: -112px -77px}
.as_flag.as_flag_kp:before {background-position: -128px -77px}
.as_flag.as_flag_kr:before {background-position: -144px -77px}
.as_flag.as_flag_kurdistan:before {background-position: -160px -77px}
.as_flag.as_flag_kw:before {background-position: -176px -77px}
.as_flag.as_flag_ky:before {background-position: -192px -77px}
.as_flag.as_flag_kz:before {background-position: -208px -77px}
.as_flag.as_flag_la:before {background-position: -224px -77px}
.as_flag.as_flag_lb:before {background-position: -240px -77px}
.as_flag.as_flag_lc:before {background-position: 0 -88px}
.as_flag.as_flag_li:before {background-position: -16px -88px}
.as_flag.as_flag_lk:before {background-position: -32px -88px}
.as_flag.as_flag_lr:before {background-position: -48px -88px}
.as_flag.as_flag_ls:before {background-position: -64px -88px}
.as_flag.as_flag_lt:before {background-position: -80px -88px}
.as_flag.as_flag_lu:before {background-position: -96px -88px}
.as_flag.as_flag_lv:before {background-position: -112px -88px}
.as_flag.as_flag_ly:before {background-position: -128px -88px}
.as_flag.as_flag_ma:before {background-position: -144px -88px}
.as_flag.as_flag_mc:before {background-position: -160px -88px}
.as_flag.as_flag_md:before {background-position: -176px -88px}
.as_flag.as_flag_me:before {background-position: -192px -88px}
.as_flag.as_flag_mg:before {background-position: -208px -88px}
.as_flag.as_flag_mh:before {background-position: -224px -88px}
.as_flag.as_flag_mk:before {background-position: -240px -88px}
.as_flag.as_flag_ml:before {background-position: 0 -99px}
.as_flag.as_flag_mm:before {background-position: -16px -99px}
.as_flag.as_flag_mn:before {background-position: -32px -99px}
.as_flag.as_flag_mo:before {background-position: -48px -99px}
.as_flag.as_flag_mp:before {background-position: -64px -99px}
.as_flag.as_flag_mq:before {background-position: -80px -99px}
.as_flag.as_flag_mr:before {background-position: -96px -99px}
.as_flag.as_flag_ms:before {background-position: -112px -99px}
.as_flag.as_flag_mt:before {background-position: -128px -99px}
.as_flag.as_flag_mu:before {background-position: -144px -99px}
.as_flag.as_flag_mv:before {background-position: -160px -99px}
.as_flag.as_flag_mw:before {background-position: -176px -99px}
.as_flag.as_flag_mx:before {background-position: -192px -99px}
.as_flag.as_flag_my:before {background-position: -208px -99px}
.as_flag.as_flag_mz:before {background-position: -224px -99px}
.as_flag.as_flag_na:before {background-position: -240px -99px}
.as_flag.as_flag_nc:before {background-position: 0 -110px}
.as_flag.as_flag_ne:before {background-position: -16px -110px}
.as_flag.as_flag_nf:before {background-position: -32px -110px}
.as_flag.as_flag_ng:before {background-position: -48px -110px}
.as_flag.as_flag_ni:before {background-position: -64px -110px}
.as_flag.as_flag_nl:before {background-position: -80px -110px}
.as_flag.as_flag_no:before {background-position: -96px -110px}
.as_flag.as_flag_np:before {background-position: -112px -110px}
.as_flag.as_flag_nr:before {background-position: -128px -110px}
.as_flag.as_flag_nu:before {background-position: -144px -110px}
.as_flag.as_flag_nz:before {background-position: -160px -110px}
.as_flag.as_flag_om:before {background-position: -176px -110px}
.as_flag.as_flag_pa:before {background-position: -192px -110px}
.as_flag.as_flag_pe:before {background-position: -208px -110px}
.as_flag.as_flag_pf:before {background-position: -224px -110px}
.as_flag.as_flag_pg:before {background-position: -240px -110px}
.as_flag.as_flag_ph:before {background-position: 0 -121px}
.as_flag.as_flag_pk:before {background-position: -16px -121px}
.as_flag.as_flag_pl:before {background-position: -32px -121px}
.as_flag.as_flag_pm:before {background-position: -48px -121px}
.as_flag.as_flag_pn:before {background-position: -64px -121px}
.as_flag.as_flag_pr:before {background-position: -80px -121px}
.as_flag.as_flag_ps:before {background-position: -96px -121px}
.as_flag.as_flag_pt:before {background-position: -112px -121px}
.as_flag.as_flag_pw:before {background-position: -128px -121px}
.as_flag.as_flag_py:before {background-position: -144px -121px}
.as_flag.as_flag_qa:before {background-position: -160px -121px}
.as_flag.as_flag_re:before {background-position: -176px -121px}
.as_flag.as_flag_ro:before {background-position: -192px -121px}
.as_flag.as_flag_rs:before {background-position: -208px -121px}
.as_flag.as_flag_ru:before {background-position: -224px -121px}
.as_flag.as_flag_rw:before {background-position: -240px -121px}
.as_flag.as_flag_sa:before {background-position: 0 -132px}
.as_flag.as_flag_sb:before {background-position: -16px -132px}
.as_flag.as_flag_sc:before {background-position: -32px -132px}
.as_flag.as_flag_scotland:before {background-position: -48px -132px}
.as_flag.as_flag_sd:before {background-position: -64px -132px}
.as_flag.as_flag_se:before {background-position: -80px -132px}
.as_flag.as_flag_sg:before {background-position: -96px -132px}
.as_flag.as_flag_sh:before {background-position: -112px -132px}
.as_flag.as_flag_si:before {background-position: -128px -132px}
.as_flag.as_flag_sk:before {background-position: -144px -132px}
.as_flag.as_flag_sl:before {background-position: -160px -132px}
.as_flag.as_flag_sm:before {background-position: -176px -132px}
.as_flag.as_flag_sn:before {background-position: -192px -132px}
.as_flag.as_flag_so:before {background-position: -208px -132px}
.as_flag.as_flag_somaliland:before {background-position: -224px -132px}
.as_flag.as_flag_sr:before {background-position: -240px -132px}
.as_flag.as_flag_ss:before {background-position: 0 -143px}
.as_flag.as_flag_st:before {background-position: -16px -143px}
.as_flag.as_flag_sv:before {background-position: -32px -143px}
.as_flag.as_flag_sx:before {background-position: -48px -143px}
.as_flag.as_flag_sy:before {background-position: -64px -143px}
.as_flag.as_flag_sz:before {background-position: -80px -143px}
.as_flag.as_flag_tc:before {background-position: -96px -143px}
.as_flag.as_flag_td:before {background-position: -112px -143px}
.as_flag.as_flag_tf:before {background-position: -128px -143px}
.as_flag.as_flag_tg:before {background-position: -144px -143px}
.as_flag.as_flag_th:before {background-position: -160px -143px}
.as_flag.as_flag_tj:before {background-position: -176px -143px}
.as_flag.as_flag_tk:before {background-position: -192px -143px}
.as_flag.as_flag_tl:before {background-position: -208px -143px}
.as_flag.as_flag_tm:before {background-position: -224px -143px}
.as_flag.as_flag_tn:before {background-position: -240px -143px}
.as_flag.as_flag_to:before {background-position: 0 -154px}
.as_flag.as_flag_tr:before {background-position: -16px -154px}
.as_flag.as_flag_tt:before {background-position: -32px -154px}
.as_flag.as_flag_tv:before {background-position: -48px -154px}
.as_flag.as_flag_tw:before {background-position: -64px -154px}
.as_flag.as_flag_tz:before {background-position: -80px -154px}
.as_flag.as_flag_ua:before {background-position: -96px -154px}
.as_flag.as_flag_ug:before {background-position: -112px -154px}
.as_flag.as_flag_um:before {background-position: -128px -154px}
.as_flag.as_flag_us:before {background-position: -144px -154px}
.as_flag.as_flag_uy:before {background-position: -160px -154px}
.as_flag.as_flag_uz:before {background-position: -176px -154px}
.as_flag.as_flag_va:before {background-position: -192px -154px}
.as_flag.as_flag_vc:before {background-position: -208px -154px}
.as_flag.as_flag_ve:before {background-position: -224px -154px}
.as_flag.as_flag_vg:before {background-position: -240px -154px}
.as_flag.as_flag_vi:before {background-position: 0 -165px}
.as_flag.as_flag_vn:before {background-position: -16px -165px}
.as_flag.as_flag_vu:before {background-position: -32px -165px}
.as_flag.as_flag_wales:before {background-position: -48px -165px}
.as_flag.as_flag_wf:before {background-position: -64px -165px}
.as_flag.as_flag_ws:before {background-position: -80px -165px}
.as_flag.as_flag_ye:before {background-position: -96px -165px}
.as_flag.as_flag_yt:before {background-position: -112px -165px}
.as_flag.as_flag_za:before {background-position: -128px -165px}
.as_flag.as_flag_zanzibar:before {background-position: -144px -165px}
.as_flag.as_flag_zm:before {background-position: -160px -165px}
.as_flag.as_flag_zw:before {background-position: -176px -165px}
.as_flag.as_flag_eu2:before {background-position: -192px -165px}
