.blotter_author_block :any(.es_highlight_owned, .es_highlight_wishlist, .es_highlight_coupon, .es_highlight_inv_gift, .es_highlight_inv_guestpass, .es_highlight_friends_want) {
	border-width: 0 0.2em 0 0.2em;
	border-style: solid;
	border-radius: 0.5em;
}

.popup_menu .hr {
	height: 1px;
	background-color: #82807c;
	width: 90%;
	margin: auto;
}

span.platform_img {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
}

span.platform_img.steamplay {
	width: 72px;
	background-image: url( 'http://store.akamai.steamstatic.com/public/images/v6/icon_steamplay.png' );
}

span.platform_img.win {
	background-image: url( 'http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png' );
}

span.platform_img.mac {
	background-image: url( 'http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png' );
}

span.platform_img.linux {
	background-image: url( 'http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png' );
}

img.platform_small, .platform_img {
	vertical-align: middle;
	margin-right: 1px;
}

.es_badges { 
	cursor: pointer; 
}

.es_badges > input { 
	display: none; 
}

.es_badges > input:checked + span { 
	text-decoration: underline !important; 
}

.es_sort { 
	cursor: pointer;
	padding-right: 5px;
}

.es_sort > input { 
	display: none; 
}

.es_sort > input:checked + span > a  {
	cursor: text;
	text-decoration: none; 
}

.es_sort > input:checked + span > a:hover  {
	color: #B0AEAC;
}

.tags span {
	border-radius: 0.5em;
}

.blotter_single_item_detail .blotter_control_container, .blotter_single_item_detail .hr {
	display: block !important;
}

#chart-heading {
	background-color: rgba(0,0,0,0);
}

#chart-heading img {
	vertical-align: middle;
}

#chart-image {
	float: left;
	padding: 12px 0;
}

.chart-stat {
	float: left;
	text-align: center;
	width: 120px;
	margin-top: 25px;
	padding-left: 15px;
}
.chart-stat span {
	font-size: 2em;
	font-weight: 300;
}

.chart-content {
	background-color: #1a1a1a;
	width: 592px;	
	padding: 2px 12px;
	margin-bottom: 20px;
	overflow: hidden;
}

.chart-footer {
	font-size: 11px;
	float: right;
	padding-top: 5px;
}
.apphub_HeaderTop.es_greenlight {
	background-image: url('http://cdn.steamcommunity.com/public/images/sharedfiles/ig/gl_item_blue.jpg');
	background-position: left center;
}
.apphub_HeaderTop.es_greenlight.es_greenlit {
	background-image: url('http://cdn.steamcommunity.com/public/images/sharedfiles/ig/gl_item_green.jpg');
}
.apphub_HeaderTop.es_greenlight.es_released {
	background-image: url('http://cdn.steamcommunity.com/public/images/sharedfiles/ig/gl_item_green_shiny.jpg');
}
#es_empty_wishlist,#es_empty_owned_wishlist {
	width:auto;
	display:inline-block;
	padding:0 5px 0 5px;
	border-color:#af1900;
	color:#af1900;
}
#es_empty_owned_wishlist {
	margin-left:6px;
}
#es_wishlist > span {
	padding:0 5px;
	font-size:12px;
}
.wishlistRowItem {
	overflow: initial !important;
}
#es_permalink_text {
	color: #EBEBEB;
	height:29px;
}
#es_permalink {
	margin: 8px 0px 0px 6px;
	direction:rtl;
}
.search_result_row .tags a {
	text-decoration: none;
	color: #FFF;
}
.search_result_row .tags a:hover {
	text-decoration: underline;
}
.profile_link_icon {
	width:16px;
	height:16px;
	vertical-align:middle;
}
.profile_link_icon.profile_link_icon_background {
	background:#EBEBEB;
	border-radius:4px;
}
.es_regional_container {
	display: none;
	z-index:999;	
	position:absolute;
	background: linear-gradient(to bottom, #33425A 5%,#282F3D 100%);
	padding: 7px 8px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
	border:1px solid black;
	margin-top:-25px;
}
.es_regional_price {
	margin-right:8px;
	font-size:14px;
}
.es_regional_converted {
	font-size:12px;
}
.es_percentage {
	font-size:12px;
	margin-left:3px;
}
.es_percentage_higher {
	color:red;
}
.es_percentage_lower {
	color:green;
}
.es_percentage_equal {
	color:yellow;
}
.es_percentage_indicator {
	width:7px;
	height:4px;
	display:inline-block;
	margin-bottom:3px;
	margin-right:2px;
}
.es_percentage_higher > .es_percentage_indicator {
	background-position:0 -4px;
}
.es_percentage_equal > .es_percentage_indicator {
	background-position:0 -8px;
	margin-bottom:1px;
}
.es_regional_always {
	display:inline-block;
	position:relative;
	float:right;
	margin-bottom:5px;
	margin-top:auto;
}
.es_regional_sale {
	margin-bottom:55px;
}
.es_regional_dailydeal {
	margin-top:auto;
}
.es_regional_unavailable {
	font-size:12px;
}
.es_flag {
	margin-right:4px;
}
.es_each {
	color: #626366;
	font-size: 11px;
	margin-top:-2px;
}
.es_each_price {
	color: rgb(137, 138, 140);
	font-size: 13px;
}
.es_each_box {
	font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
	background-color:black;
	padding-right:10px;
	padding-top:3px;
	padding-left:10px;
	height:31px;
	float:left;
	margin-left:3px;
}

.es_btn_systemreqs {
	margin-bottom: 10px;
	margin-top: 10px;
}

.es_overlay {
	position: absolute;
	z-index: 4;
}
.es_card_search {
	padding:0px 2px;
	margin-top: 2px;
	display:block;
	width:220px;
}
.es_text_input {
	background-color: #4d4b49;
	border: 1px solid #82807c;
	color: #ffffff;
	height: 18px;
	padding: 2px 4px 3px 4px;
}
input[type=checkbox].es_dlc_selection {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

input[type=checkbox].es_dlc_selection + label {
	padding-left:20px;
	height:13px; 
	display:inline-block;
	line-height:13px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:default;
	z-index: 99;
}

input[type=checkbox].es_dlc_selection:checked + label {
	background-position: 0 -13px;
}

.es_review_image {
	vertical-align: middle;
	border: 0px;
}

.es_review_text {
	font-size: 14px;
	font-weight: bold;
}

#es_dlc_option_button {
	float: right;
	text-decoration: none;
}

#es_dlc_option_button:hover {
	cursor: pointer;
}

#es_dlc_option_panel {
    background: url(http://cdn.steamcommunity.com/public/images/profile/profile_header_bg_texture.jpg);    
    border-bottom: 1px solid black;
}

.es_dlc_option {
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 11px;
	color: #ffffff;
}

.es_dlc_option:hover {
	text-decoration: underline;
	cursor: pointer;
}

#es_price_range {
	-webkit-appearance:none; 
	-moz-apperance:none; 
	width:100%; 
	height:4px;
	margin-top: 10px;
}

.es_price_range_slider::-webkit-slider-thumb{
	-webkit-appearance:none; -moz-apperance:none; width:10px; height:18px; 
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}
#store_nav_search_term::-webkit-input-placeholder, #term::-webkit-input-placeholder {
	font-style: italic;
}
.es_lowest_price {
	padding: 5px 0 5px 46px;
	height: auto !important;
	border-bottom: 0;
	background-image: none;
	padding-left: 46px;
	position: relative;
	font-size: 12px;
	color: #626366;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.es_lowest_price a {
	color: #b0aeac;
}

.es_lowest_price .gift_icon {
	left: 17px; 
	position: absolute;
}

.es_wishlist_remove {
	cursor: pointer;
	color: #ebebeb;
}

.es_wishlist_remove:hover {
	text-decoration: underline;
}
.ea_app_overlay {
	top:15px;
	left:22px;
}

.es_communitylink_achievement_images {
	background-color: #1a1a1a;
	padding: 4px 0px 4px 4px;
	overflow: hidden;
	margin-bottom: 5px;
	width: 268px;
}

.es_communitylink_achievement {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 3px;
}

#achievement_sort_options {
	text-align: right;
	margin-top: 8px;
	margin-right: 15px;
	font-size: 14px;
	color: #939393;
}

#achievement_sort_options span {
	margin-left: 8px;
	color: #B0AEAC;
}

.es_achievement_sort_link {
	text-decoration: underline;
	cursor: pointer;
}

#friends_sort_options {
	text-align: right;
	margin-bottom: 12px;
	margin-right: 52px;
	font-size: 14px;
	color: #939393;
}

.manage_friends_header #friends_sort_options {
	float: right;
	margin-bottom: 0;
	margin-right: 35px;
}

#friends_sort_options span {
	margin-left: 8px;
	color: #B0AEAC;
}

.es_friends_sort_link {
	text-decoration: underline;
	cursor: pointer;
}

.browse_tag_game_cap img {
	margin-left: 8px;
}

.browse_tag_game_name {
	margin-left: 8px;
}

.browse_tag_game_price {
	margin-left: 8px;
}

.browse_tag_game {
	margin-bottom: 4px;
}

#es_cards_worth {
	float: none;
	width: 280px;
	text-align: center;
	margin-right: 38px;
	color: #fff;
}
#es_popup .hr{
	margin-top:2px;
	margin-bottom:2px;
}
#es_popular {
	margin-left: 3px;
}
#es_allreleases {
	margin-left: 3px;
}
.summersale_page_body #tab_allreleases_content .tab_item_overlay img, .summersale_page_body #tab_popular_content .tab_item_overlay img {
	position: absolute;
}
.dailydeal .timer {
	background:#222;
	border-radius:2px;
	padding: 0 2px;
}
.dailydeal {
	border-radius: 2px;
}
.es_newrelease_loading {
	text-align: center;
	margin-top: 20px;
}
.es_active_total {
	float: right;
	text-align: center;
	padding-top: 4px;
	font-size: 12px;
}
.birthday {
	 position: absolute;
	 top: 105px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-repeat: repeat-x;
}
.es_review_score span, .es_newrelease_loading span, #es_market_summary span, .es_loading span {  
	vertical-align: top;
	line-height: 32px;
	margin-left: 5px;
}
.es_market_summary_item {
	float: right;
	line-height: inherit !important;
}
.es_item_action {
	height: 60px;
}
.es_drm_warning {
	display: table; 
	width: 100%; 
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 38px;
}
.es_drm_warning span {
	display: table-cell; 
	vertical-align: middle; 
	line-height: normal; 
	padding-left: 15px;
}
#es_progress {
	display: block;
	float: right;
	margin-top: 55px;
	-webkit-appearance: none;
	border: none;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
#es_progress.error, #es_progress.complete {
	width:14px;
}
#es_progress::-webkit-progress-bar { 
	background: black; 
	border-radius: 8px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#es_progress::-webkit-progress-value { 
	background: #5c7836;
	border-radius: 8px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#es_progress.error::-webkit-progress-value { 
	background: #B31414;
	border-radius: 0px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#es-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	text-align: center;
	z-index: 9000;
}
#es-lightbox p {
	text-align:right; 
	color: #fff;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
#es-lightbox img {
	box-shadow:0 0 25px #111;
	-webkit-box-shadow:0 0 25px #111;
	max-width: 90%;
	max-height: 90%;
	border: 3px solid white;
	border-radius: 15px;
}
#es-lightbox-content {
	position: absolute;
	left: 0;
	right: 0;
}
.es-nav { display: none; }
.es-prev, .es-next { 
	position: absolute;
	top: 50%;
	background: #869791;
	opacity: 0.5;
	padding: 5px 10px;
	color: #fff;
	font-size: 18px;
	border-radius: 30px;
}
.es-prev:hover, .es-next:hover {
	opacity: 1;
	text-decoration: none;
}
.es-next { right: 14px; }
.es-prev { left: 14px; }
.es_bad_comment_num {
	cursor: pointer;
}
.es_wishlist_note {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 455px;
	height: 13px;
	font-style: italic;
	margin-top: -3px;
}
.es_game_purchase_action_bg {
	height: 34px;	
	background-color: #3c3d3e;
	padding: 3px 3px 3px 0px;
	border-radius: 3px;
}
.es_game_purchase_action .es_game_purchase_price, 
.es_game_purchase_action .es_game_purchase_discount,
.es_game_purchase_action .es_game_purchase_action_bg {
	float: left;
	margin-left: 3px;
}
.es_game_purchase_action .es_game_purchase_price {
	background-color: #000000;
	font-size: 13px;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
	height: 26px;
}
.es_game_purchase_discount {
	height: 34px;
}
.es_game_purchase_discount .es_discount_pct {
	position: absolute;
	left: 0px;
	width: 69px;
	height: 34px;
	line-height: 34px;
	font-size: 25px;
	text-align: center;
}
.es_game_purchase_discount .es_discount_original_price {
	position: absolute;
	left: 76px;
	top: 2px;
	font-size: 11px;
}
.es_game_purchase_discount .es_discount_final_price {
	padding-left: 76px;
	padding-top: 13px;
	padding-right: 6px;
	font-size: 14px;
}
.es_price, .es_match_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size: 11px;
	color: #b0aeac;
}
.es_discount_block {
	position: relative;
	background-color: #000000;
}
.es_discount_pct {
	background-color: #4c6b22;
	color: #ffffff;
}
.es_discount_original_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	color: #626366;
	text-decoration: line-through;
}
.es_discount_final_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	color: #d6d7d8;
}
.game_area_rewards_section {
	margin-top: 30px;
	margin-bottom: 36px;
}
.reward-detail-item {
	position: relative;
	height: 64px;
	display: block;
	margin-bottom: 30px;
	color: rgb(66, 66, 66);
	background: -moz-linear-gradient(-60deg, rgba(97,100,101,0.3) 0%, rgba(226,244,255,0.3) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(97, 100, 101, 0.3)), color-stop(100%,rgba(226, 244, 255, 0.3)));
	background: -webkit-linear-gradient(-60deg, rgba(97, 100, 101, 0.3) 0%,rgba(226, 244, 255, 0.3) 100%);
	background: -o-linear-gradient(-60deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
	background: -ms-linear-gradient(-60deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
	background: linear-gradient(135deg, rgba(97, 100, 101, 0.3) 0%,rgba(226, 244, 255, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d616465', endColorstr='#4de2f4ff',GradientType=1 );
}
.reward-detail-item.completed {
	opacity: 0.40;
}
.reward-detail-item > .reward-img {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 64px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.reward-detail-item > .reward-img > img {
	position: absolute;
	height: 64px;
	width: 64px;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.reward-detail-item > .left-side {
	display: inline-block;
	position: relative;
	width: calc(100% - 74px);
}
.reward-detail-item > .left-side > .title {
	display: block;
	color: rgb(255, 255, 255);
	font-size: 1.5em;
	margin-top: 7px;
}
.reward-detail-item > .left-side > .text {
	display: block;
	color: #8f98a0;
	font-size: 12px;
}
.reward-detail-item > .left-side > .validity {
	display: block;
	color: rgb(176, 174, 172);
	font-size: 0.8em;
	position: absolute;
	top: 3px;
	right: 3px;
}
.reward-detail-item .game_purchase_action {
	position: absolute;
	right: 16px;
	bottom: -17px;
}
.reward-detail-item .price {
	color: rgb(137, 138, 140);
}
.btn_es_decline {
	float: right;
	margin-top: -8px;
	line-height: 30px;
	padding-left: 32px !important;
	background-repeat: no-repeat !important;
	background-position: 6px 3px !important;
	margin-left: 4px;
}
.market_listing_es_lowest {
	font-size:85.7%;
	line-height: 1.25em;
}
.spy_details {
	color: #8f98a0;
	line-height: 20px;
}

.spy_details b {
	color: #61686d;
	font-weight: normal;
}

.gh_fade div:not(.gh_indicators) {
	opacity: 0.2;
}
.gh_vote_up:before, .gh_vote_down:before, .gh_vote_later:before {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background: rgba(0, 0, 0, 0.6);
}
.gh_indicators_right {
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 5px;
	background: rgba(0, 0, 0, 0.6);
}
.gh_fade:before, .gh_fade .gh_indicators_right {
	background: none;
}
.gh_indicators_right div {
	display: inline-block;
	width: 17px;
	height: 30px;
	margin-right: 5px;
	background-position: 0px -60px;
}
.gh_vote_up:before {
	content: url('//steamcommunity-a.akamaihd.net/public/images/sharedfiles/ig/nav_vote_yes.png');
}
.gh_vote_down:before {
	content: url('//steamcommunity-a.akamaihd.net/public/images/sharedfiles/ig/nav_vote_no.png');
}
.gh_vote_later:before {
	content: url('//steamcommunity-a.akamaihd.net/public/images/sharedfiles/ig/nav_remind_later.png');
}
.gh_favorited {
	background: url('//steamcommunity-a.akamaihd.net/public/images/sharedfiles/ico_fav_tiled.png');
}
.gh_followed {
	background: url('//steamcommunity-a.akamaihd.net/public/images/sharedfiles/ico_follow_tiled_lrg.png');
}
.performance-graph {
    margin-top: -10px;
    background: linear-gradient(135deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
    width: 98%;
    border-radius: 6px;
    border: 1px solid #524f4e;
    overflow: hidden;
}
.performance-graph .row {
    height: 18px;
    overflow: hidden;
}
.performance-graph .row .nvidia {
	background: #72b100;
	color: black;
}
.performance-graph .row .amd {
	 background: #8f0e10;
}
.performance-graph .row .intel {
	 background: #0b5997;
	 color: #fafaf2;
}
.performance-graph .row .other {
	 background: black;
}
.performance-graph .left-bar {
    height: 100%;
    text-align: center;
    float: left;
    position:relative;
}
.performance-graph .right-bar {
    background: rgba(0,0,0,0.0);
    min-width:30px;
    height: 100%;
    text-align: left;
    float: left;
}
.performance-graph .right-bar span {
	padding-left: 5px;
}
.es_market_btn {
	margin-bottom: 5px;
}
.es_market_btn span {
	min-width: 120px;
	text-align: center;
}

.search_suggest .match.focus {
	background: #212d3d !important;
}

#es_sell #market_sell_buyercurrency_input:invalid {
	border-color: #c00000;
}
#enhanced_pulldown {
	display: inline-block;
	margin: 1px;
	padding-left: 4px;
	line-height: 19px;
}
#enhanced_pulldown.focus {
	margin: 0px;
	border: 1px solid #82807C;
	color: #ffffff;
}

.es_recentAchievements {
	position: absolute;
	right: 4px;
	width: 205px;
	font-size: 10px;
	font-weight: normal;
}
.clientConnItemBlock ~ * .es_recentAchievements {
	bottom: 0;
}
.es_recentAchievements .achieveBar {
    background: #3a3a3a;
    padding: 1px;
    border: 1px solid #aeaeae;
    width: 176.9px;
}
.es_recentAchievements .achieveBarProgress {
    height: 8px;
    background-color: #aeaeae;
}

#es_customize_btn {
	visibility: visible;
}
#es_customize_btn .home_viewsettings_popup {
	right: 18px;
	display: none;
	z-index: 12;
}
.home_page_body_ctn.has_takeover #es_customize_btn {
	margin: -24px 0 0 0;
}
.home_page_body_ctn:not(.has_takeover) #es_customize_btn {
	position: absolute;
	right: 15px;
}
.home_page_body_ctn:not(.has_takeover) .home_cluster_ctn {
	margin-top: 40px
}
.home_page_body_ctn:not(.has_takeover) #es_customize_btn .home_viewsettings_popup {
	right: 2px;
}

/***************************************
 * App page, wishlist buttons
 **************************************/
.es-loading-wl { 
	-webkit-filter: brightness(350%); /* to make the image more consitent with others, feel free to replace the image and remove this */
}
.queue_actions_ctn:not(.loading) #add_to_wishlist_area_success:hover .es-in-wl {
	display: none !important;
}
.queue_actions_ctn:not(.loading) #add_to_wishlist_area_success:hover .es-remove-wl {
	display: inline !important;
}

/***************************************
 * Groups page
 **************************************/
.es-group-leave-button {
	background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
	padding: 4px 8px;
	border: none;
	color: rgba(255, 255, 255, .8);
	border-radius: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.es-leave-selected {	
	opacity: 0.5;
	cursor: default !important;
}
.es-leave-selected.active{
	opacity: 1;
	cursor: pointer !important;
}
.es-leave-all {
	background: linear-gradient(to bottom, #D00707 5%, #690404 95%);
}
.es-leave-group {vertical-align: middle}
.es-leave-options {
	float: right;
	margin: -5px 8px 0 0
}
.es-select-checkbox {
	margin-left: 10px;
}
.es-row-selected {
	background-color: #1A2533 !important;
	box-shadow: inset 0 0 1px #506885;
}
.es-group-leave-button,
.es-select-checkbox {
	cursor: pointer;
}
.es-rejoin-group {
	font-size: 12px;
	display: none;
}
.groupBlock {position:relative}
.groupBlock:after {
	content: "";
	display: block;
	width: 0%;
	height: 3px;
	position: absolute;
	bottom: 0;
	opacity: 0;
	background: linear-gradient(to right, #4B6C97 90%, #FFFFFF 100%);
}
.groupBlock.es-progress:after {
	transition: width 2s cubic-bezier(0.20, 0, 0, 1), opacity 0s linear;
	width: 99%;
	opacity: 1;
}
.groupBlock.es-complete:after {
	width: 100%;
	transition: width .5s linear, opacity 1s linear;
	opacity: 0;
}
.es-leave-options button:focus {outline: none}
.es-leave-options button:disabled {opacity: .6}