
.steamdb_ico i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/steamdb_store.png');
}
.steamdb_ico:hover i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/steamdb_store_black.png');
}

.itad_ico i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/line_chart.png');
}
.itad_ico:hover i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/line_chart.png');
}

.steam_client_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon-steamos.png'); /* //steamcdn-a.akamaihd.net/store/about/icon-steamos.svg */
}

.bartervg_ico i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/bartervg.png');
}
.bartervg_ico:hover i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/bartervg.png');
}

.pcgw_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/pcgw.png');
}

.completionistme_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon-completionistme.png');
}

.protondb_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon-protondb.png'); /* //www.protondb.com/images/protondb-logo.svg */
}

.cardexchange_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/steamcardexchange.png');
}

.es_slider_toggle i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/fullscreen-icons.gif");
}

.es_screenshot_fullscreen_toggle i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/fullscreen-icons.gif");
}

.es_user_note:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/pinn.png");
}

.es_birthday #logo_holder img {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/birthday_logo_bg.gif");
}
.es_birthday.es_store_front #global_header:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/birthday_bg.png");
}

.es_regional_icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/flags/world.png");
}
