
.steamdb_ico i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/steamdb_store.png");
}
.steamdb_ico:hover i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/steamdb_store_black.png");
}

.itad_ico i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/itad_small.png");
}
.itad_ico:hover i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/itad_small_black.png");
}

.steam_client_btn i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon-steamos.png"); /* //steamcdn-a.akamaihd.net/store/about/icon-steamos.svg */
}

.bartervg_ico i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/bartervg.png");
}

.pcgw_btn i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/pcgw.png");
}

.completionistme_btn i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon-completionistme.png");
}

.protondb_btn i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon-protondb.png"); /* //www.protondb.com/images/protondb-logo.svg */
}

.cardexchange_btn i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/steamcardexchange.png");
}

.es_slider_toggle i,
.es_screenshot_fullscreen_toggle i {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/fullscreen-icons.gif");
}

.es_screenshot_open_btn i {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/screenshot_open.png');
}

.es_user_note:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/pinn.png");
}

.es_birthday #logo_holder img {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/birthday_logo_bg.gif");
}
.es_birthday.es_store_front #global_header:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/birthday_bg.png");
}

.es_regional_icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/flags/world.png") !important;
}

.itad-pricing {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/itad.png");
}

.es_sites_icons.es_steamrepcn_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/srcn.png");
}
.es_sites_icons.es_steamrep_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/steamrep.png");
  background-color: rgb(235, 235, 235);
}
.es_sites_icons.es_steamdbcalc_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/steamdb.png");
}
.es_sites_icons.es_steamgifts_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/steamgifts.png");
}
.es_sites_icons.es_steamtrades_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/steamtrades.png");
}
.es_sites_icons.es_bartervg_icon:before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/bartervg.png");
}
.es_sites_icons.es_astats_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/achievementstats.png");
}
.es_sites_icons.es_backpacktf_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/backpacktf.png");
}
.es_sites_icons.es_astatsnl_icon:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/ico/astatsnl.png");
}

.es-flag:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/flags/flags.png");
}
