.es_sites_icons.es_steamrepcn_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/srcn.png");
}
.es_sites_icons.es_steamrep_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/steamrep.png");
}
.es_sites_icons.es_steamdbcalc_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/steamdb.png");
}
.es_sites_icons.es_steamgifts_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/steamgifts.png");
}
.es_sites_icons.es_steamtrades_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/steamtrades.png");
}
.es_sites_icons.es_astats_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/achievementstats.png");
}
.es_sites_icons.es_backpacktf_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/backpacktf.png");
}
.es_sites_icons.es_astatsnl_icon:after {
	background-image: url("moz-extension://__MSG_@@extension_id__/img/ico/astatsnl.png");
}