html {
	height: 100%;
}

body {
	min-height:100%;
	color: #efffef;
	font-family:"Arial", sans-serif;
	background:#131519;
	margin:0;
	padding:0;
}

#header {
	width: 100%;
	background-color:#000000;
}

#header_logo {
	margin-left: 170px;
}

.notification {
	float:right;
	font-size: 2em;
	font-weight: bold;
	padding:24px;
	display:none;
}

#saved {
	color:#8BC53F;
}

#reset_note {
	color:#CF6A32;
}

#page {
	display:flex;
	min-height:100vh;
}

#side_bar {
	text-align:left;
	font-family: "Arial", sans-serif;
	font-size:16px;
	width: 200px;
	background: #1a1c21;
}
#side_bar a { color: white; text-decoration: none; }
#side_bar a:hover { color: white; text-decoration: none; }

.tab_row {
	display:block;
	border-right: 3px solid transparent;
	padding:10px;
}

.tab_row.selected, .tab_row:hover {
	background:#0b4267;
	border-color:#036db1;
}

.content {
	padding:15px;
	display:none;
}
.content.selected {
	display:block;
}

#footer {
	position:fixed;
	bottom: 10px;
	text-align:right;
	right:15px;
	line-height:1.5;
}

h2 {
	font-weight: bold;
	margin-top:25px;
	margin-bottom:5px;
	padding:0;
	font-size: medium;
}
h2:first-child {
	margin-top:0;
}

input[type=color] {
	border:0;
	padding:0;
	width: 50px;
	height: 21px;
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	position:relative;
	top:2px;
}
button {
	background-color: #162c3e;
	border:1px solid #1b4a6b;
	color: white;
	border-radius:2px;
	height: 21px;
	margin-left:3px;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	padding:1px 22px;
}
button:hover {
	background-color:#0b4267;
	border-color:#036db1;
}

select, textarea, input[type=text] {
	background-color: #282a2f;
	color: white;
	padding: 2px;
	margin-left:10px;
	font-size:12px;
	font-family:"Arial", sans-serif;
	border:1px solid #555;
	border-radius:2px;
}
textarea {
	width: 850px;
}
ul {
	list-style:none;
	padding:0;
}
li {
	padding-left:10px;
	padding-bottom:5px;
}
#region_selects li {
	padding-bottom:0px;
}

input[type=checkbox] {
	margin:0 3px 0 0;
	position:relative;
	top:2px;
}

.settings > div {
	display:flex;
	width:550px;
	align-items: baseline;
	margin-bottom:3px;
	line-height:23px;
	border-left:3px solid transparent;
	padding-left:3px;
}
.settings > div .buttons {
	flex-grow:2;
	text-align:right;
}
.settings > div:hover {
	border-left-color:#036db1;
}

.settings > div label {
	display:inline-flex;
	flex-grow:1;
	cursor:pointer;
}

.help {
	height:18px;
	width:18px;
	display:inline-block;
	background:url('../img/questionmark.png') no-repeat center;
	background-size:18px 18px;
	margin-left:4px;
	vertical-align:text-bottom;
}
#store_stores {
	margin-left:25px;
	display:flex;
	justify-content:space-between;
}
.store_col div {
	display:flex;
	align-items: baseline;
}

a {
	cursor:pointer;
	text-decoration:underline;
	color:#036db1;
}
a:hover {
	color:#1a9aed;
}
.site_icon {
	width:16px;
	height:16px;
	margin:0 4px 0 0;
	vertical-align: text-bottom;
}
#reset {
	margin-top:5px;
	width:auto;
}
#spamcommentregex_list {
	margin-left:10px;
	margin-bottom:5px;
}
#show_spamcommentregex,
#show_quickinv_diff {
	color:#EFFFEF;
}
#quickinv_opt {
	margin-left:10px;
	margin-bottom:5px;
	display:none;
}
#quickinv_diff {
	width: 100px;
}
.site_icon.profile_link_icon_background {
	background:#EBEBEB;
	border-radius:4px;
}
.site_icon_col {
	display:none;
}

#api_key_block {
	padding-left:35px;
}
.translation {
	margin-left:10px;
}
.language {
	padding-right:8px;
}
.select2-search-choice-close {
	display: inline-block;
	position: static;
}
.credits li {
	font-size: medium;
}
.disabled {
	opacity: 0.6;
}

#as_custom_settings {
	align-items:baseline;
}

#author_info {
	color:#999;
}
