html {
	height: 100%;
}

body {
	min-height:100%;
	color: #efffef;
	font-family:"Arial", sans-serif;
	background:#131519;
	margin:0;
	padding:0;
}

#header {
	width: 100%;
	background-color:#000000;
}

#header_logo {
	margin-left: 170px;
}

.notification {
	line-height: 40px;
	font-size: 1rem;
	opacity: 0;
	position: fixed;
	padding: 15px;
	bottom: 0;
	left: 300px;
	right: 0;
	display: flex;
	align-items: center;
	font-weight: bold;
	background-color: #02ba55;
	z-index: 999;
	pointer-events: none;
}

.notification img {
	height: 1.5rem;
	padding: 0 10px;
}

#page {
	display:flex;
	align-items: flex-start;
	min-height:100vh;
}

#side_bar {
	position: sticky;
	top: 0;
	text-align:left;
	font-family: "Arial", sans-serif;
	font-size:16px;
	width: 300px;
	background: #1a1c21;
	min-height:100vh;
}
#side_bar a { color: white; text-decoration: none; }
#side_bar a:hover { color: white; text-decoration: none; }

#side_bar hr {
	margin: 5px 0;
}

.category {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subentry {
	padding: 5px 10px 5px 5px;
	margin-left: 15px;
	font-size: 14px;
	font-style: italic;
}

.subentry::before {
	content: "- ";
}

.subentries {
	transition: opacity 2s;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.triangle {
	padding: 0 8px;
	font-size: 13px;
	transition: transform 0.5s;
}

.sidebar_entry {
	cursor: pointer;
}

.sidebar_entry .triangle {
	cursor: default;
}

.tab_row.expanded .subentries {
	opacity: 1;
	height: auto;
}

.sidebar_entry:hover {
	background-color: #5a5a5a78;
}

.tab_row.selected .category {
	background:#0b4267;
}

.tab_row.expanded .triangle {
	transform: rotate(-90deg);
}

.content {
	padding:15px;
	display:none;
	margin-bottom: 100px;
}
.content.selected {
	display:block;
}

.content_section {
	margin-top: 25px;
	outline: 2px solid transparent;
	transition: outline-color 1s;
}

#footer {
	position:fixed;
	bottom: 10px;
	text-align:right;
	right:15px;
	line-height:1.5;
}

h1 {
	margin: 15px 0;
	text-decoration: underline;
}

h2 {
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0;
	font-size: medium;
}

input[type=color] {
	border:0;
	padding:0;
	width: 50px;
	height: 21px;
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	position:relative;
	top:2px;
}
button {
	background-color: #162c3e;
	border:1px solid #1b4a6b;
	color: white;
	border-radius:2px;
	height: 21px;
	margin-left:3px;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	padding:1px 22px;
}
button:hover {
	background-color:#0b4267;
	border-color:#036db1;
}

select, textarea, input[type=text] {
	background-color: #282a2f;
	color: white;
	padding: 2px;
	margin-left:10px;
	font-size:12px;
	font-family:"Arial", sans-serif;
	border:1px solid #555;
	border-radius:2px;
}
textarea {
	width: 850px;
}
ul {
	list-style:none;
	padding:0;
}
li {
	padding-left:10px;
	padding-bottom:5px;
}
#region_selects :last-child {
	margin-top: 15px;
	margin-left: 32px;
}
#region_selects li {
	padding-bottom:0px;
}

input[type=checkbox] {
	margin:0 3px 0 0;
	position:relative;
	top:2px;
}

.settings {
	margin-left: 10px;
}

.settings > .content_section > div {
	display:flex;
	width:550px;
	align-items: baseline;
	margin-bottom:3px;
	line-height:23px;
	border-left:3px solid transparent;
	padding-left:3px;
}
.settings > .content_section > div .buttons {
	flex-grow:2;
	text-align:right;
}
.settings > .content_section > div:hover {
	border-left-color:#036db1;
}

.settings > .content_section > div label {
	display:inline-flex;
	flex-grow:1;
	cursor:pointer;
}

.help {
	height:18px;
	width:18px;
	display:inline-block;
	background:url('../img/questionmark.png') no-repeat center;
	background-size:18px 18px;
	margin-left:4px;
	vertical-align:text-bottom;
}
#store_stores {
	margin-left:25px;
	display:flex;
	justify-content:space-between;
}
.store_col div {
	display:flex;
	align-items: baseline;
}

a {
	cursor:pointer;
	text-decoration:underline;
	color:#036db1;
}
a:hover {
	color:#1a9aed;
}
.site_icon {
	width:16px;
	height:16px;
	margin:0 4px 0 0;
	vertical-align: text-bottom;
}
#reset {
	margin-top:5px;
	width:auto;
}
#spamcommentregex_list {
	margin-left:10px;
	margin-bottom:5px;
}
#show_spamcommentregex,
#show_quickinv_diff {
	color:#EFFFEF;
}
#quickinv_opt {
	margin-left:10px;
	margin-bottom:5px;
}
#quickinv_diff {
	width: 100px;
}
.site_icon.profile_link_icon_background {
	background:#EBEBEB;
	border-radius:4px;
}
.site_icon_col {
	display:none;
}

#api_key_block {
	padding-left:35px;
}
.translation {
	margin-left:10px;
}
.language {
	padding-right:8px;
}
.select2-search-choice-close {
	display: inline-block;
	position: static;
}
.credits li {
	font-size: medium;
}
.disabled {
	opacity: 0.6;
}

#es_custom_settings {
	align-items:baseline;
}

#author_info {
	color:#999;
}

/**
 * Custom links
 */

.custom-link {
	white-space: nowrap;
	display: flex;
}

.custom-link__label {
	min-width: 40px;
}


.custom-link__input {
	background-color: #282a2f;
	color: white;
	padding: 2px;
	margin-left:10px;
	font-size:12px;
	font-family:"Arial", sans-serif;
	border:1px solid #555;
	border-radius:2px;
	width: 300px;
}

.custom-link__close {
	background-image: url('../img/remove.png');
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	min-width: 16px;
	padding: 0;
	align-self: flex-start;
	margin: 0 0 0 10px;
	position: relative;
	top: 2px;
}
.custom-link__close:hover {
	background-color: transparent;
}

