body {
	background: -webkit-linear-gradient(top,  #000000 0%,#0b1821 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #000000 0%,#0b1821 100%); /* W3C */
}

#contentwrapper {
	text-align:center;
}

#heading {
	position: fixed;
	text-align:left;
	font-family:"Arial";
	font-size:16px;
	color:FFF;	
}
#heading a:link { color: #b8b6b4; text-decoration: none }
#heading a:visited { color: #b8b6b4; text-decoration: none }
#heading a:hover { color: #efffef; text-decoration: none }

#maincontent_store{
	margin-top:20px;
	margin-left: 120px;
	text-align:left;
	padding-left:51px;
	padding-right:51px;
	color: #8bc53f;
}

#maincontent_community {
	margin-top:20px;
	margin-left: 120px;
	text-align:left;
	padding-left:51px;
	padding-right:51px;
	color: #8bc53f;
}

#maincontent_news {
	margin-top:20px;
	margin-left: 120px;
	text-align:left;
	padding-left:51px;
	padding-right:51px;
	color: #8bc53f;
}

#maincontent_about {
	margin-top:20px;
	margin-left: 120px;
	text-align:left;
	padding-left:51px;
	padding-right:51px;
	color: #8bc53f;
}

#maincontent_donate {
	margin-top:20px;
	margin-left: 120px;
	text-align:left;
	padding-left:51px;
	padding-right:51px;
	color: #8bc53f;
}

#footer {
	position:absolute;
    bottom: 0;
	width:99%;
    height:60px; 
	text-align: right;
	color: FFF;
}

.btn {
	
	background-image: url( ../img/btn_gradient.png );
	background-repeat: repeat-x;
	background-color: #262626;
	
	border: 1px solid #8bc53f;
	color: #8bc53f;
	
	width: 78px;
	height: 21px;
	
	line-height: 18px;
	font-size: 11px;
	text-align: center;
	
	cursor: pointer;
}

.colorbutton {
	background-image: url( ../img/btn_gradient.png );
	background-repeat: repeat-x;
	background-color: #262626;
		
	border: 1px solid #8bc53f;
	color: #8bc53f;
	
	width: 50px;
	height: 21px;
	
	cursor: pointer;
}

.dropdown {
	background-color: #262626;
	color: #B8B6B4;
	
	border: 1px solid #8bc53f;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 5px;
}