.btn_profile_action {
	background: linear-gradient( to bottom, #A55410 5%, #412A14 95%) !important;
}
.btn_profile_action > span {
	background: linear-gradient( to bottom, #A55410 5%, #412A14 95%) !important;
}
.btn_profile_action:hover, .btn_profile_action.focus {
	background: linear-gradient( to bottom, #d2670c 5%, #412A14 95%) !important;
}
.btn_profile_action:hover > span, .btn_profile_action.focus > span {
	background: linear-gradient( to bottom, #d2670c 5%, #412A14 95%) !important;
}
.profile_customization_header {
	color: #FF7A1A !important;
}
.profile_header_badge {
	background-color: rgba(22,22,23, 0.6) !important;
	box-shadow: none !important;
}