
/* Fix the native add-all-dlc-to-cart button position on expandable dlc lists */
#gameAreaDLCSection #dlc_purchase_action {
    float: right;
}

#es_selected_btn {
    float: left;
    display: none;
}

#es_dlc_option_panel {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    height: 28px;
    padding-left: 15px;
}
.es_dlc_option {
    display: inline-block;
    line-height: 19px;
    padding: 0 7px;
    color: #67c1f5;
    background-color: rgba(103, 193, 245, 0.2);
    box-shadow: none;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 11px;
}
.es_dlc_option:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

.game_area_dlc_row:hover .ds_flag {
    display: none; /* hide dlc flag due to checkboxes (if highlighting is disabled) */
}

#es_dlc_option_panel + .game_area_dlc_list .game_area_dlc_row:not(.dlc_highlight) .game_area_dlc_name {
    margin-left: 21px; /* if there're checkboxes, align the titles for non-recommended free dlcs */
}

.game_area_dlc_row:not(.dlc_highlight) .game_area_dlc_name:has(.es_dlc_label) {
    display: flex;
    margin-left: -4px !important;
    padding: 0;
}
.game_area_dlc_row.dlc_highlight > div:first-child:has(.es_dlc_label) {
    margin-left: -4px !important;
}

label.es_dlc_label {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
label.es_dlc_label > input {
    appearance: none;
    background-color: #545454;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #343434;
    outline: none;
}
label.es_dlc_label > input:checked::after {
    content: "✔";
    color: #8bc53f;
    font-size: 12px;
    position: absolute;
    bottom: 4px;
    left: 12px;
}
.dlc_highlight label.es_dlc_label > input:checked::after {
    bottom: 31px;
}
