
.es_tabs {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  height: 31px;
}
.es_tabs .home_tab {
  margin-top: 6px;
  border: none;
  display: inline-block;
  margin-right: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 13px;
  color: #2f89bc;
  line-height: 24px;
  cursor: pointer;
  vertical-align: top;
}
.es_tabs .home_tab.active {
  background: linear-gradient(top, rgba(103,193,245,1) 0%,rgba(103,193,245,0) 100%);
  margin-top: 0;
  box-shadow: none;
  padding: 1px;
}
.es_tabs .home_tab:hover {
  color: #ffffff;
}
.es_tabs .home_tab .tab_content {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 13px;
  color: #4f94bc;
  line-height: 24px;
  padding: 0 10px;
  cursor: pointer;
  vertical-align: top;
}
.es_tabs .home_tab.active .tab_content {
  line-height: 29px;
  font-size: 14px;
  color: #ffffff;
  background: #1a2737;
  text-shadow: -1px -1px rgba( 0, 0, 0, 0.25 );
  cursor: default;
  margin-top: 0;
  box-shadow: none;
}
.es_tabs .home_tab .tab_content:hover {
  color: #ffffff;
  background: linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%);
}
.es_tab.active .tab_content {
  background-color: #0003 !important;
}

#recommended_block_content.es_steam_active > .es_sp_similar,
#recommended_block_content.es_sp_active > .es_steam_similar {
  display: none;
}
.es_sp_similar:last-of-type:hover > .es_sp_similar__link {
  color: #ffffff;
}
.es_sp_similar__link {
  width: 171px;
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  white-space: normal;
  text-align: center;
  background-color: #1b2838;
  color: #67c1f5;
}
