.btn_profile_action {
	background: linear-gradient( to bottom, #23867E 5%, #283D3D 95%) !important;
}
.btn_profile_action > span {
	background: linear-gradient( to bottom, #23867E 5%, #283D3D 95%) !important;
}
.btn_profile_action:hover, .btn_profile_action.focus {
	background: linear-gradient( to bottom, #21b2a6 5%, #283D3D 95%) !important;
}
.btn_profile_action:hover > span, .btn_profile_action.focus > span {
	background: linear-gradient( to bottom, #21b2a6 5%, #283D3D 95%) !important;
}
.profile_customization_header {
	color: #54CFCF !important;
}