/**
 * https://github.com/jshackles/Enhanced_Steam/issues/1173
 * Better display for locked achievements on global achievement stats page
 */
.achieveRow:not(.unlocked) > .compareImg > img:not(:hover) {
  opacity: 0.15;
  filter: grayscale(75%);
  transition: opacity 0.25s ease-in-out;
}
/**
 * https://github.com/IsThereAnyDeal/AugmentedSteam/issues/485
 * Always show "View all comments" links on friends activity page
 */
.blotter_viewallcomments_container {
  display: block !important;
}
/**
 * https://github.com/IsThereAnyDeal/AugmentedSteam/issues/397
 * https://github.com/IsThereAnyDeal/AugmentedSteam/issues/545
 * Fix long-shaped artwork thumbnails
 */
.publishedfile_popup_screenshot, .publishedfile_popup_screenshot > img, .profile_media_item, .imgWallItem {
  min-height: 30px;
}
#modalContent.modal_frame {
  min-width: 720px !important;
}
/**
 * https://github.com/IsThereAnyDeal/AugmentedSteam/issues/1254
 * Increase height of collection choice section
 */
.collectionChoiceSection {
  height: 400px;
}
/**
 * https://github.com/IsThereAnyDeal/AugmentedSteam/issues/1472
 * Fix achievement progress bar and text display
 */
.achieveTxt.withProgress {
  width: 100%;
}
.achieveTxt h3.ellipsis {
  white-space: normal;
}


img.astats_icon {
  width: 16px;
  margin-left: 4px;
}


.es_each {
  color: #626366;
  font-size: 11px;
  margin-top: -2px;
}
.es_each_price {
  color: rgb(137, 138, 140);
  font-size: 13px;
}
.es_each_box {
  font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
  background-color: black;
  padding-right: 10px;
  padding-top: 3px;
  padding-left: 10px;
  height: 31px;
  float: left;
  margin-left: 3px;
}

.wishlist_row {
  overflow: visible !important;
}
.wishlist_row .itad-pricing {
  color: white;
  width: 100%;
  position: absolute;
  visibility: hidden;
  left: 0;
  z-index: 1000;
  background-color: #303e4c;
  opacity: 0;
  box-sizing: border-box;
  transition: visibility, opacity 0.2s ease-in-out;
}
.wishlist_row:hover .itad-pricing {
  visibility: visible;
  opacity: 1;
}

/* throbber loading image --TODO check usage */
.es_loading span {
  vertical-align: top;
  line-height: 32px;
  margin-left: 5px;
}

/***************************************
 * Funds page
 * FCustomGiftcardAndWallet
 **************************************/
#es_custom_money_input {
  background-color: #4d4b49;
  border: 1px solid #82807c;
  color: #ffffff;
  height: 18px;
  padding: 2px 4px 3px 4px;
  width: 54px;
}
.giftcard_selection #es_custom_money_input {
  height: 15px;
  vertical-align: middle;
}
.addfunds_area_purchase_game #es_custom_money_input {
  margin-top: -5px;
}
.es_custom_money a {
  cursor: pointer;
}
.es_custom_money a .giftcard_style {
  cursor: default;
}
.es_custom_money .giftcard_corner {
  filter: hue-rotate(160deg);
}
.es_custom_money .giftcard_text.small {
  font-size: 14px !important;
}


/***************************************
 * Game Cards page
 **************************************/
.es_card_search {
  padding: 0px 2px;
  margin-top: 2px;
  display: block;
  width: 220px;
}

.es_gamecards_links {
  float: right;
}

/* Layout for the case when zoomed in (and the buttons are wrapped) */
.badge_detail_tasks .gamecards_inventorylink {
  overflow: auto;
  margin-bottom: 9px; /* Default is 14px => 14-5 = 9 */
}
.badge_detail_tasks .gamecards_inventorylink a {
  margin-bottom: 5px;
}

/***************************************
 * Badges and Game Cards page
 **************************************/
.esi-badge .badge_empty_right {
  margin-top: 7px;
}
.esi-badge .badge_info_unlocked {
  color: #5c5c5c;
}
.esi-badge .gamecard_badge_progress .badge_info {
  width: 296px;
}

.es_steamcardexchange_link {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 12px;
}
.es_steamcardexchange_link img {
  width: 24px;
  height: 24px;
  border: 0;
}
.es-has-ce-link .badge_title_row {
  padding-right: 44px;
}

/***************************************
 * Badges page
 * FBadgeCalculations
 **************************************/
.profile_xp_block_right {
  width: 280px !important;
  text-align: right !important;
  cursor: auto;
}
.es_faq_cards {
  margin-top: 4px;
}

/***************************************
 * Badges page
 * FBadgeSortAndFilter
 **************************************/
.es_binder_view .badges_sheet {
  overflow: hidden;
}
.es_badge_progress_info,
.es_game_stats,
.es_binder_view .badge_progress_info,
.es_binder_view .badge_cards,
.es_binder_view .badge_title_stats,
.es_binder_view .badge_description,
.es_binder_view .badge_view_details,
.es_binder_view .badge_info_unlocked,
.es_binder_view .badge_progress_tasks,
.es_binder_view .es_steamcardexchange_link {
  display: none !important;
}
.es_binder_view .badge_title {
  font-size: 12px !important;
  line-height: 26px !important;
}
.es_binder_view .badge_title_row {
  padding-top: 0px !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
  height: 24px !important;
}
.es_binder_view .badge_row_inner {
  height: 195px !important;
}
.es_binder_view .badge_current {
  width: 100% !important;
}
.es_binder_view .badge_empty_circle {
  float: none !important;
  margin-left: 45px !important;
}
.es_binder_view .badge_info_image {
  float: none !important;
  margin: 7px auto 0px auto !important;
  width: 100% !important;
}
.es_binder_view .badge_content {
  padding-top: 0 !important;
}
.es_binder_view .badge_row {
  width: 160px !important;
  height: 195px !important;
  float: left;
  margin-right: 15px !important;
  margin-bottom: 15px !important;
}
.es_binder_view .badges_sheet {
  text-align: center !important;
  margin-left: 32px !important;
}
.es_binder_view .badge_empty {
  border: none !important;
}
.es_binder_view .badge_empty_name {
  clear: both;
}
.es_binder_view .es_badge_progress_info,
.es_binder_view .es_game_stats {
  display: block !important;
}
.es_binder_view .es_game_stats {
  color: #5491cf;
  font-size: 12px;
  white-space: nowrap;
}

.profile_badges_sortoptions > a {
  display: none; /* hide Steam's badge sort options */
}
.profile_badges_header .es_badge_filter,
.profile_badges_header .es_badge_view {
  float: right;
  margin-left: 18px;
}
#es_sort_flyout, #es_filter_flyout, #es_badgeview_flyout {
  display: none;
}
#es_sort_active, #es_filter_active, #es_badgeview_active {
  display: inline;
}

/** Flyout menus, taken from https://store.cloudflare.steamstatic.com/public/css/v6/store.css */
.as_flyout_menus .store_nav {
  display: inline;
  float: none;
  margin-left: 5px;
}
.as_flyout_menus .store_nav .tab {
  float: none;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: rgba(103, 193, 245, 0.4);
}
.as_flyout_menus .store_nav .tab > span.pulldown {
  font-size: 12px;
  color: #67c1f5;
  line-height: 29px;
  padding: 0 7px 0 15px;
  display: block;
  background: none;
}
.as_flyout_menus .store_nav .tab:hover > span.pulldown,
.as_flyout_menus .store_nav .tab:hover,
.as_flyout_menus .store_nav .tab.focus > span.pulldown,
.as_flyout_menus .store_nav .tab.focus {
  filter: none;
  color: #ffffff;
  background: linear-gradient(-60deg, #67c1f5 0%, #417a9b 100%);
}
.as_flyout_menus .store_nav .tab > span.pulldown > span {
  width: 19px;
  height: 12px;
  padding: 0;
  display: inline-block;
  background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/btn_arrow_down_padded.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: text-bottom;
}
.as_flyout_menus .store_nav .tab:hover > span.pulldown > span,
.as_flyout_menus .store_nav .tab.focus > span.pulldown > span {
  background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/btn_arrow_down_padded_white.png');
}
.as_flyout_menus .popup_block_new .popup_body {
  border: none;
  position: relative;
  background: #417a9b;
  padding: 6px 0;
}
.as_flyout_menus .popup_menu .popup_menu_item {
  color: #e5e4dc;
  margin: 0 8px;
}

/***************************************
 * Achievement stats page
 * FShowHiddenAchievements
 **************************************/
#as_ach_showall {
  margin-left: auto;
  margin-right: 6px;
}

/***************************************
 * User Inventory
 * FInventoryGoTo
 **************************************/
#pagebtn_first,
#pagebtn_last {
  margin: 0 3px;
}
#es_pagego {
  float: left;
}
#es_pagenumber {
  width: 50px;
}
#es_gotopage_btn {
  width: 32px;
  padding: 0;
  margin: 0 6px;
  text-align: center;
  display: inline-table; /** https://github.com/jshackles/Enhanced_Steam/pull/1624 */
}

/***************************************
 * User Inventory
 * FQuickSellOptions
 **************************************/
.es_qsell_ctn .btn_small {
  margin-bottom: 4px;
  overflow: hidden;
  width: max-content;
}
.es_qsell_ctn .btn_small,
.es_qsell_loading {
  display: none;
}
.view_inventory_page .item.btn_disabled,
.item_market_actions .item_market_action_button.btn_disabled {
  pointer-events: none;
}

/***************************************
 * User Inventory
 * FAddPriceToGifts
 **************************************/
.es_game_purchase_action {
  margin-bottom: 16px;
}
.es_game_purchase_action_bg {
  height: 34px;
  background-color: #3c3d3e;
  padding: 3px 3px 3px 0px;
  border-radius: 3px;
}
.es_game_purchase_action .es_game_purchase_price,
.es_game_purchase_action .es_game_purchase_discount,
.es_game_purchase_action .es_game_purchase_action_bg {
  float: left;
  margin-left: 3px;
}
.es_game_purchase_action .es_game_purchase_price {
  background-color: #000000;
  font-size: 13px;
  padding: 8px 12px 0px;
  height: 26px;
  font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
  color: #b0aeac;
}
.es_game_purchase_discount {
  height: 34px;
  position: relative;
  background-color: #000000;
}
.es_game_purchase_discount .es_discount_pct {
  position: absolute;
  left: 0px;
  width: 69px;
  height: 34px;
  line-height: 34px;
  font-size: 25px;
  text-align: center;
  background-color: #4c6b22;
  color: #a4d007;
}
.es_game_purchase_discount .es_discount_original_price {
  position: absolute;
  left: 76px;
  top: 2px;
  font-size: 11px;
}
.es_game_purchase_discount .es_discount_final_price {
  padding: 13px 6px 0px 76px;
  font-size: 14px;
}
.es_discount_original_price {
  font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
  color: #626366;
  text-decoration: line-through;
}
.es_discount_final_price {
  font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
  color: #acdbf5;
}

/**************************************
 * Apps page, workshop items
 * media_slider_expander()
 **************************************/
.highlight_ctn,
.highlight_overflow,
.workshop_item_header #highlight_player_area,
.workshop_item_header .highlight_player_item iframe,
.workshop_item_header .workshopItemPreviewImageEnlargeable,
.workshop_item_header .workshopItemPreviewImageEnlargeableContainer {
  transition: width 0.25s ease, max-width 0.25s ease, height 0.25s ease;
}
.es_slider_toggle {
  position: absolute !important;
  padding: 0 !important;
  right: 4px;
  top: 4px;
  opacity: 0;
  transition: top 0.15s, opacity 0.15s ease;
  background: rgba(103, 193, 245, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.50) !important;
}
.home_tabs_row .es_slider_toggle {
  opacity: 1;
}
.home_tabs_row .es_slider_toggle:not(.es_expanded) {
  margin-right: 16px;
}
.es_slider_toggle:hover {
  border: 1px solid rgba(255, 255, 255, 0.75) !important;
}
.es_slider_toggle > div {
  padding: 4px !important;
}
.es_slider_toggle i {
  display: block;
  background-position: top left;
  width: 16px;
  height: 16px;
}
.es_slider_toggle .es_slider_contract i {
  background-position: bottom left;
}
.es_slider_toggle.es_expanded .es_slider_expand,
.es_slider_toggle:not(.es_expanded) .es_slider_contract {
  display: none !important;
}
#highlight_player_area:hover .es_slider_toggle {
  opacity: 0.80;
}
#highlight_player_area {
  width: auto !important;
}
.workshop_item_header.es_expanded #highlight_player_area,
.workshop_item_header.es_expanded .highlight_player_item iframe,
.workshop_item_header.es_expanded .workshopItemPreviewImageEnlargeable,
.workshop_item_header.es_expanded .workshopItemPreviewImageEnlargeableContainer {
  width: 920px !important;
  height: 520px !important;
  max-width: 920px !important;
  max-height: 520px !important;
}
.workshop_item_header.es_expanded .highlight_ctn,
.workshop_item_header.es_expanded .highlight_overflow {
  width: 920px;
  max-width: 920px;
}

/*
 * The native highlight strip has a width of 593px. (https://github.com/SteamDatabase/SteamTracking/blob/8e19832027cf425b5db71c09c878739b5630c66a/steamcommunity.com/public/css/skin_1/workshop_itemdetails.css#L238)
 * Five items are at most fully visible on the strip. You can derive the following formula:
 * stripWidth(itemCount) = itemCount * (116px width + 3px margin) - 2px
 * On the expanded view 7 items are visible.
 */
.workshop_item_header.es_expanded #highlight_strip {
  width: 831px;
}
.workshop_item_header .es_slider_toggle {
  display: block;
}
.workshop_item_header .leftcol {
  width: 638px;
  float: left;
  position: relative;
  z-index: 1;
}
.highlight_overflow {
  z-index: 5;
}
/* When browser window is too small hide the side details and the toggle button in Store */
@media (max-width: 910px) {
  #game_highlights .rightcol {
    display: block !important;
  }

  .game_meta_data .es_side_details,
  #game_highlights .es_slider_toggle {
    display: none !important;
  }
}
@media (min-width: 910px) {
  #game_highlights .highlight_ctn {
    width: 616px;
  }

  #game_highlights.es_expanded .highlight_ctn {
    width: 940px;
  }

  #game_highlights.es_expanded .highlight_overflow {
    margin-right: 0;
  }

  .es_slider_toggle {
    display: block;
  }

  .as-side-details {
    transition: opacity 125ms ease 0s;
  }

  .as-side-details.es_expanded .game_header_image_full {
    width: 276px !important;
    height: auto !important;
  }
}

.as-side-details.es_expanded a {
	color: #67c1f5;
}

.as-side-details.es_expanded a:hover {
	color: #ffffff;
}

.requiredItem .loader {
  float: right;
}

.es_required_item--success {
  background-color: rgba(2, 186, 85, 0.2) !important;
}
.es_required_item--error {
  background-color: rgba(214, 34, 5, 0.2) !important;
}

/***************************************
 * App pages
 * player_hd_button()
 **************************************/
.es_hd_toggle {
  float: right;
  line-height: 19px;
  margin-right: 10px;
  font-family: 'Motiva Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.4;
}
.es_playback_hd .es_hd_toggle {
  opacity: 1;
}

video.highlight_movie:hover + .html5_video_overlay {
  transition: bottom 0.2s linear;
}

/***************************************
 * App pages
 * FWaitlistDropdown
 **************************************/
.queue_control_button.as_btn_wishlist_menu {
  display: inline;
}
.as_btn_wishlist .btnv6_blue_hoverfade {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.as_btn_wishlist .btnv6_blue_hoverfade img {
  vertical-align: middle;
  margin-left: -6px;
  margin-top: -2px;
  margin-right: 3px;
}
.queue_btn_menu.on_wishlist #queue_menu_option_on_wishlist .queue_ignore_menu_option_image.selected,
.queue_btn_menu.on_waitlist #queue_menu_option_on_waitlist .queue_ignore_menu_option_image.selected {
  display: inline-block;
}
.es-loading-wl {
  width: 16px;
  /* Makes the image more consistent with others */
  filter: brightness(350%);
}
.queue_actions_ctn:not(.loading) .as_btn_wishlist a:hover img.es-remove-wl {
  display: inline !important;
}
.queue_btn_menu.on_wishlist #queue_menu_option_on_wishlist .queue_ignore_menu_option_image.unselected,
.queue_btn_menu.on_waitlist #queue_menu_option_on_waitlist .queue_ignore_menu_option_image.unselected,
.queue_actions_ctn:not(.loading) .as_btn_wishlist img:not(.es-in-wl),
.queue_actions_ctn.loading .as_btn_wishlist img:not(.es-loading-wl),
.queue_actions_ctn:not(.loading) .as_btn_wishlist a:hover img:not(.es-remove-wl) {
  display: none;
}

/***************************************
 * App pages
 * FFullscreenScreenshotView
 **************************************/
.es_screenshot_fullscreen_toggle {
  position: absolute;
  right: 18%;
  bottom: 0;
}
.es_screenshot_fullscreen_toggle i {
  display: block;
  background-position: top left;
  width: 16px;
  height: 16px;
  margin: 5px;
}
.es_screenshot_open_btn {
  position: absolute;
  right: 24%;
  bottom: 0;
}
.es_screenshot_open_btn i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 5px;
}
.screenshot_popup_modal_content:fullscreen .es_screenshot_fullscreen_toggle i {
  background-position: bottom left;
}
.screenshot_popup_modal_content:fullscreen {
  padding: 0;
  background: none;
}
.screenshot_popup_modal_content .screenshot_popup_modal_title {
  display: none;
}
.screenshot_popup_modal_content:fullscreen .screenshot_img_ctn {
  width: 100%;
  height: 100%;
}
.screenshot_popup_modal_content:fullscreen .screenshot_img_ctn > img {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: visible;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > .btn_medium {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer:hover > .btn_medium {
  opacity: 1;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > div:first-child {
  display: inline-block;
  background: rgba(103, 193, 245, 0.2);
  border-radius: 100px;
  padding: 0 1em;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > .previous::before,
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > .next::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40vw;
  height: 100vh;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > .previous::before {
  left: 0;
}
.screenshot_popup_modal_content:fullscreen .screenshot_popup_modal_footer > .next::before {
  right: 0;
}


/***************************************
 * Wishlist
 * FKeepEditableRanking
 **************************************/
#wishlist_ctn:not(.sort_order).as_show_order_input .capsule {
  margin-left: 40px;
}
#wishlist_ctn:not(.sort_order).as_show_order_input .as_hover_handle {
  display: block;
  width: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#wishlist_ctn.sort_order.as_show_order_input .as_hover_handle {
  display: none;
}

/***************************************
 * Wishlist
 * FEmptyWishlist/FExportWishlist
 **************************************/
#cart_status_data {
  display: flex;
  align-items: center;
}

/***************************************
 * App pages
 * Common/UserNotes
 **************************************/
.es_note_prompt {
  /* Long app titles stretch the modal but this element doesn't scale since it's width is 500 px at max */
  width: auto !important;
}
#es_note_input {
  height: 112px;
  font-size: 14px !important;
}

#esi-user-note-button .esi-add-note,
#esi-user-note-button .esi-update-note {
  display: none;
}
#esi-user-note-button:not(.esi-has-note) .esi-add-note,
#esi-user-note-button.esi-has-note .esi-update-note {
  display: inline-block;
}

.esi-note {
  font-size: 11px;
  height: fit-content;
  flex-grow: 2;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.esi-note--store {
  font-size: 1.4em;
  font-style: italic;
  margin-top: 20px;
  display: none;
}
.esi-note--store.esi-has-note {
  display: block;
}
.esi-note--wishlist {
  font-style: italic;
}
.esi-note--wishlist.esi-has-note {
  font-style: normal;
  color: #5fafdd;
}


/***************************************
 * App pages
 * Common/FExtraLinks
 **************************************/
.es_extralinks_ctn .es_app_btn:last-of-type {
  margin-bottom: 0;
}
.es_extralinks_ctn {
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  padding: 16px;
  margin: auto;
}

/* Copied from apphub.css, which isn't loaded on error pages */
.es_apphub_OtherSiteInfo {
  position: relative;
  float: right;
}

/***************************************
 * Common
 * FHighlightsTags
 **************************************/
.es_tags {
  position: relative;
  z-index: 6;
  display: inline-block;
  vertical-align: middle;
  cursor: default !important;
}
.es_tags span {
  padding: 3px 5px;
  margin: 0 3px 0 0;
  font-size: 10px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  max-height: 11px;
  line-height: 12px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 1px inset, rgba(255, 255, 255, 0.12) 0 0 0 2px inset;
}
.es_tags.es_tags_short:not(:hover) span {
  font-size: 0;
}
.es_tags.es_tags_short span::first-letter {
  font-size: 10px;
}

.recommendation_highlight .es_tags {
  position: absolute;
  margin-top: -20px;
}
.similar_grid_item .es_tags,
.newonsteam_headercap .es_tags,
.comingsoon_headercap .es_tags {
  float: right;
}
.recommendation_carousel_item .es_tags,
.friendplaytime_game .es_tags {
  float: left;
  margin-left: 8px;
}
.match_app .es_tags {
  float: right;
  margin-left: 5px;
}
.search_result_row .es_tags {
  vertical-align: top;
}
.wishlist_row .es_tags {
  vertical-align: baseline;
}

/*.es_highlighted div:not(.discount_pct):not(.discount_final_price):not(.discount_original_price):not(.main_cap_status):not(.search_released):not(.tab_item_top_tags):not(.tab_item_details) {
	color: rgba(255, 255, 255, 0.8) !important;
}*/
.es_highlighted div.search_released,
.es_highlighted div.tab_item_details,
.es_highlighted div.tab_item_top_tags,
.es_highlighted div.discount_original_price {
  color: rgba(255, 255, 255, 0.31) !important;
}
.es_highlighted div.discount_final_price {
  color: rgba(255, 255, 255, 0.65) !important;
}
.es_highlighted .tab_item_top_tags {
  text-overflow: ellipsis;
}
.es_highlighted .discount_pct,
.es_highlighted .search_discount span {
  box-shadow: rgba(255, 255, 255, 0.08) 0 0 0 1px inset;
}
.es_highlighted_owned ~ .ds_owned_flag {
  display: none;
}

/** layout for app info box on community hub */
.apphub_StoreInfoHeader.es_highlighted .price,
.apphub_StoreInfoHeader.es_highlighted .discount_final_price,
.apphub_StoreInfoHeader.es_highlighted .apphub_StoreAppText {
  color: rgba(255, 255, 255, 0.65);
}

/** layout for recommendations at the bottom of the storefront */
#content_more .home_content_item {
  padding: 3px;
  margin-right: 5px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
#content_more .home_content_item:last-child {
  margin-right: 0;
}

/** layout for friend activity page */
.blotter_block a.es_highlighted {
  color: rgba(255, 255, 255, 0.80);
  padding: 1px 4px;
  line-height: 20px;
  white-space: nowrap;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.22);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.80);
}

/***************************************
 * Common
 * FEarlyAccess
 **************************************/
.es_early_access .broadcast_live_stream_icon {
  display: none; /* Hide broadcast icon since it gets in the way */
}

.home_content.single.es_early_access > .gamelink > .ds_flag {
  z-index: 12;
}
.tab_item.es_early_access > .tab_item_cap {
  line-height: 48px;
}

/***************************************
 * Friend activity page
 * FAchievementLink
 **************************************/
.es-ach-link:hover {
  text-decoration: none;
}

/***************************************
 * Friend activity page
 * FToggleComments
 **************************************/
.as_comments_toggle {
  float: right;
  margin-right: 6px;
}

/***************************************
 * App pages
 * FMetacriticUserScore, FOpenCritic
 **************************************/
#game_area_userscore {
  margin-top: 6px;
  padding-top: 10px;
  clear: both;
}
#game_area_userscore .score,
#game_area_opencritic .score {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  float: left;
}
#game_area_userscore .score.high {background-color: #66cc33;}
#game_area_userscore .score.medium {background-color: #ffcc33;}
#game_area_userscore .score.low {background-color: #ff0000;}

#game_area_opencritic .score.mighty {background-color: #fc430a;}
#game_area_opencritic .score.strong {background-color: #9e00b4;}
#game_area_opencritic .score.fair {background-color: #4aa1ce;}
#game_area_opencritic .score.weak {background-color: #80b06a;}

#game_area_userscore .logo {
  background-image: url('https://store.steampowered.com/public/images/v6/mc_logo_no_text.png');
}
#game_area_userscore .logo,
#game_area_opencritic .logo {
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
#game_area_userscore .wordmark,
#game_area_opencritic .wordmark {
  float: left;
  width: 180px;
}
#game_area_userscore .metacritic {
  margin-top: 12px;
}
#game_area_opencritic .metacritic {
  margin-top: 4px;
}
#game_area_userscore .metacritic,
#game_area_opencritic .metacritic {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 2px;
  font-size: 26px;
  line-height: 26px;
  float: left;
}

/***************************************
 * Points Shop
 * FBackgroundPreviewLink
 **************************************/
.as_preview_background_ctn {
  text-align: right;
  text-decoration: underline;
}
.as_preview_background {
  font-size: .9rem;
  color: #b3b4cd;
}

/***************************************
 * Market home
 * FMarketLowestPrice
 **************************************/
.es_market_listing_lowest {
  width: 115px;
}
.es_priced_higher {
  color: #ff1717;
}
.es_priced_lower {
  color: #60ad0a;
}

/***************************************
 * Market home
 * FMarketStats
 **************************************/
#es_market_summary_status {
  display: flex;
  align-items: center;
}
#es_market_summary_status img {
  margin-right: 10px;
}
.es_market_summary_item {
  float: right;
  line-height: inherit !important;
  vertical-align: top;
  line-height: 32px;
  margin-left: 5px;
}

/***************************************
 * Market home
 * FPopularRefreshToggle
 **************************************/
#es_popular_refresh_toggle {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin: 8px 8px 0 0;
  border: 1px solid rgba(73, 193, 245, 0.25) !important;
}
#es_popular_refresh_toggle:after {
  content: "▶";
  display: inline-block;
}
#es_popular_refresh_toggle.es_refresh_off:after {
  content: "❚❚";
}

/***************************************
 * Market listings pages
 * FSoldAmountLastDay
 **************************************/
#market_commodity_orders_header {
  position: relative;
}
.market_section_title .es_sold_amount {
  font-size: 16px !important;
}
.jqplot-title .es_sold_amount,
.market_section_title .es_sold_amount {
  z-index: 999;
  position: relative;
  display: inline-block !important;
}
.jqplot-title .es_sold_amount:before,
.market_section_title .es_sold_amount:before {
  content: "(";
}
.jqplot-title .es_sold_amount:after,
.market_section_title .es_sold_amount:after {
  content: ")";
}

/***************************************
 * Market listings pages
 * FBadgePageLink
 **************************************/
.es_marketlistings_btn {
  float: right;
  margin-top: -10px;
}
.es_marketlistings_btn img[src$="/ico_cards.png"] {
  margin: 7px 0;
  width: 26px;
  height: 16px;
  border: 0;
  vertical-align: top;
}


/* Customizer, SpamComments */
.esi-shown {
  display: block !important;
}
.esi-hidden {
  display: none !important;
}
/* Ensures that the top most shown section always has the same margin */
.esi-hidden ~ .esi-shown {
  margin-top: 32px;
}


#es_new_queue {
  width: 150px;
  margin-right: -10px;
}


/** spam comments */
.esi_commentthread_button {
  display: block;
  text-align: center;
  background-color: #490000;
  color: white;
  padding: 0.8em 0;
  border-radius: 2px;
  opacity: 0.4;
}
.esi_commentthread_button:hover {
  opacity: 1;
}
.esi_commentthread--showspam .esi_comment_hidden {
  display: block;
}
.esi_commentthread--showspam .esi_commentthread_button {
  display: none;
}
.esi_comment_hidden {
  display: none;
}

/* .game_details styles from https://github.com/SteamDatabase/SteamTracking/blob/8719637a11e9e707f0adb4d07987cd9423d0d828/steamcommunity.com/public/shared/css/store_game_shared.css#L389 */

.es_wsgf .details_block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -10px;
  margin-right: -10px;
}
.es_wsgf .details_block img {
  border: 0;
  height: 120px;
  cursor: help;
  margin-top: 10px;
  margin-right: 10px;
}

.es_dlc_info .details_block img {
  vertical-align: top;
}

/***************************************
 * Global Steam Client button
 **************************************/
.es_steamclient_btn .header_installsteam_btn_content,
.es_steamclient_btn.is-react {
  background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/icon_platform_linux.png');
  background-position: 5px;
  padding-left: 28px;
}

/***************************************
 * User profiles
 * FTwitchShowcase
 **************************************/
.esi-stream {
  position: relative;
  display: block;
  background: #396685;
  margin: 0 -10px -10px -10px;
}
.esi-stream__play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.esi-stream__live {
  white-space: nowrap;
  height: 13px;
  position: absolute;
  top: 15px;
  left: 0;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 3px 6px 3px 20px;
  box-shadow: 0 0 7px #a94847;
  background: black;
}
.esi-stream__twitch {
  color: #4b367c;
  font-weight: bold;
}
.esi-stream__title {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

/***************************************
 * User profiles
 * FSupporterBadges
 **************************************/
#es_supporter_badges {
  margin-top: -40px; /* Remove excessive space between profile badges and es-supporter badges */
}
#es_supporter_badges .profile_badges_badge:nth-child(4n) {
  margin-right: 0;
}
#es_supporter_badges .profile_badges_badge:nth-child(4n+1) {
  margin-bottom: 16px;
}
#es_supporter_badges .profile_count_link_preview {
  display: flex;
  flex-wrap: wrap;
}
#es_supporter_badges .profile_badges_badge {
  float: none;
}

/***************************************
 * User profiles
 * FSteamRep
 **************************************/
#es_steamrep {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Verdana;
}
#es_steamrep div {
  margin: 0 8px;
}
#es_steamrep .bad span {
  color: red;
}
#es_steamrep .caution span {
  color: orangered;
}
#es_steamrep .good span {
  color: green;
}
#es_steamrep .neutral span {
  color: gray;
}

/***************************************
 * User profiles
 * FCustomStyle
 **************************************/
.es_profile_style.es_style_clear {
  --gradient-background: none !important;
}
.es_profile_style.es_style_clear .profile_header_badge {
  background-color: rgba(22, 22, 23, 0.6) !important;
  background-image: none !important;
  box-shadow: none !important;
}
.es_profile_style.es_style_clear .profile_content,
.es_profile_style.es_style_clear .profile_header_bg_texture {
  background: none !important;
}
.es_profile_style.es_style_clear .profile_rightcol,
.es_profile_style.es_style_clear .profile_customization {
  backdrop-filter: none !important;
}

.es_profile_style .holidayprofile .persona_name,
.es_profile_style .holidayprofile .profile_customization_header { /* Makes links clickable */
  position: initial !important;
}
.es_profile_style .holidayprofile .profile_customization:not(.none_selected)::before {
  z-index: -1;
}
.es_profile_style .holidayprofile .profile_customization {
  background-position-x: -2px !important;
}
.es_profile_style .holidayprofile .profile_customization_header {
  background: none !important;
}

/***************************************
 * User profiles
 * FPinnedBackground
 **************************************/
.as_profile_static_background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
}


/* || SEARCH PAGE FILTERS */

/*
 * https://github.com/SteamDatabase/SteamTracking/blob/3d3de779d93086bba59d32864526c0ced6dc856e/store.steampowered.com/public/css/v6/search.css#L250
 * Hide search results
*/
.search_results.cart .ds_incart,
.search_results.ea .es_early_access,
.search_results.mixed .as-hide-mixed,
.search_results.negative .as-hide-negative,
.search_results.reviews-score .as-reviews-score,
.search_results .as-reviews-count,
.search_results .as-discount-percent {
  height: 0;
  margin: 0;
  border: none;
}

/* Slider with two thumbs (more in browser-specific CSS files) */
.as-double-slider {
  display: grid !important;
}

.as-double-slider__input {
  grid-row-start: 1;
  grid-column-start: 1;
}

/*
 * https://github.com/SteamDatabase/SteamTracking/blob/a4cdd621a781f2c95d75edecb35c72f6781c01cf/store.steampowered.com/public/css/v6/browse.css#L206
 * Allows wraps at white spaces for long texts in the range display
 */
.as-range-display {
  white-space: normal !important;
  line-height: unset !important;
  padding: 7.5px 8px !important; /* 7.5px is the (line-height (28px) - font-size (13px)) / 2 */
}

.as-reviews-count-filter, .as-discount-percent-filter {
  margin-top: 10px;
}

.as-reviews-count-filter__header, .as-discount-percent-filter__header {
  margin-left: 8px;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  color: #9fbbcb;
}

.as-reviews-count-filter__content, .as-discount-percent-filter__content {
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-top: 5px;
}

/* https://github.com/SteamDatabase/SteamTracking/blob/ad1bfe7966cbfc3a8cdff7d0fcc9f3437425b7a8/store.steampowered.com/public/css/v6/search.css#L546 */
.as-reviews-count-filter__input, .as-discount-percent-filter__input  {
  min-width: 0;
  background-color: rgba( 0, 0, 0, 0.2 );
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgba( 0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
  padding: 5px;
  margin: 5px;
}

.as-reviews-count-filter__input::placeholder {
  text-transform: lowercase;
}

/*
 * Profiles
 */
.as-pd {
  margin-top: 30px;
}

.as-pd__help {
  color: #66c0f4;
}

.as-pd__cnt {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  max-height: 600px;
  overflow: auto;
  margin-top: 15px;
}

.as-pd__list {
  max-height: 200px;
  overflow-y: auto;
}

.as-pd__item {
  cursor: pointer;
}
.as-pd__item:hover {
  color: #66C0F4;
}
.as-pd__item.is-selected {
  color: #66C0F4;
  font-weight: bold;
}

.as-pd__imgs {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-row-gap: 15px;
  justify-content: space-between;
}
.as-pd__img {
  width: 100%;
}

.as-pd__select {
  max-width: 100%;
}

.as-pd__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.as-pd__btn {
  width: 200px !important;
  margin-left: 12px !important;
}

.as-pd__preview {
  display: block;
  margin: auto;
  max-width: 100%;
}


.es_slider_toggle i,
.es_screenshot_fullscreen_toggle i {
  background-image: url("extension://img/fullscreen-icons.gif");
}

.es_screenshot_open_btn i {
  background-image: url('extension://img/screenshot_open.png');
}


.es_external_icon::after {
  content: " " url("extension://img/ico_external_link.gif"); /* https://store.steampowered.com/public/images/v5/ico_external_link.gif */
  border: 0;
  vertical-align: baseline;
}


/* || DOUBLE SLIDER */

/* Displays the lower stacked thumb above higher stacked track */
.as-double-slider__input::-webkit-slider-thumb {
  position: relative;
}

/*
 * Firefox' range input elements ignore certain properties, in particular "position",
 * which restricts us from setting z-indexes.
 *
 * These rules allow the thumb with the lower stack level to receive all inputs events
 * that the user would expect it to.
 * Otherwise, due to the track of the other range input actually overlapping the lower
 * stacked input (but not visually), some pointer events would unintentionally target the
 * higher stacked input, although intended otherwise.
 *
 * A consequence of this workaround is that the track itself is not clickable anymore
 * and the thumbs have to be dragged to change their value.
 *
 * See https://css-tricks.com/sliding-nightmare-understanding-range-input/ for more
 * compatibility problems.
 */

/* Fixes overlapping of track with thumb */
.as-double-slider__input--lower::-moz-range-track {
  background-color: transparent;
}

/* Disallow clicking anywhere on the range input... */
@supports (-moz-appearance:none) {
  .as-double-slider__input {
    pointer-events: none;
  }
}

/* ...except on the thumbs. */
.as-double-slider__input::-moz-range-thumb {
  pointer-events: all;
}
