* {
  --body-bg-color: #1b1c24;
  --sidebar-bg-color: #262833;
  --sidebar-bg-hover-color: #333643;
  --sidebar-cat-open-bg-color: #333643;

  --highlight-color: #3090ce;

  --link-color: #3090ce;
  --link-hover-color: #1a9aed;

  --font-color: white;

  --header-highlight: #036db1;
  --sub-color: #b1b2bc;

  --input-bg-color: #1a1c21;

  --button-bg-color: #162c3e;
  --button-border-color: #0b4267;
  --button-hover-bg-color: #3090ce;
  --button-hover-border-color: #162c3e;

  --color-success: #02ba55;
  --color-error: #d62205;
}

/**
 * Spinner https://loading.io/css/
 */

 .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * HTML
 */

html, body {
  font-size: 10px;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

h1 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 50px 0 0 0;
  border-bottom: 1px solid var(--header-highlight);
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 30px 0 20px 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}


select,input {
  outline: 0;
}
input[type=color] {
  border: 0;
  padding: 0;
  width: 6em;
  height: 2em;
  background-color: transparent;
  font-size: 90%;
  cursor: pointer;
}
input[type=checkbox] {
  margin: 0 10px 0 0;
  cursor: pointer;
}
select, input[type=text], input[type=number] {
  background-color: var(--input-bg-color);
  color: white;
  padding: 5px;
  margin-left: 15px;
  font-size: 0.9em;
  border: 1px solid var(--sidebar-bg-hover-color);
  border-radius: 1px;
}
input[type=number] {
  text-align: right;
  width: 80px;
}


button {
  font-size: 1.2rem;
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  color: white;
  margin-left: 5px;
  padding: 5px 20px;
}
button:hover {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}



/**
 * HEADER
 */

.header {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header__img {
  height: 60px;
}


/**
 * SIDEBAR
 */

.sidebar {
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  min-width: 20em;
  max-width: 20em;
  background: var(--sidebar-bg-color);
  min-height: 100vh;
}

.sidebar__group {}

.sidebar__item {
  display: block;
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
}
.sidebar__item:hover {
  background-color: var(--sidebar-bg-hover-color);
}
.sidebar__item--cat {
  padding: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__item--multi::after {
  content: "\25c0";
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
  user-select: none;
  transform: rotate(90deg);
}

.sidebar__item--child {
  font-size: 0.9em;
  padding: 0.4em 0.7em 0.4em 1em;
  background: #20222b;
}

.sidebar__item.is-selected {
  background-color: var(--highlight-color);
}

.sidebar__children {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}

.is-selected > .sidebar__item--cat {
  background-color: var(--sidebar-cat-open-bg-color);
}
.is-selected > .sidebar__children {
  transition: max-height 400ms linear;
  max-height: 400px;
}
.is-selected > .sidebar__item--multi::after {
  transform: rotate(-90deg);
}


/**
 * PAGE
 */

.page {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}


/**
 * FOOTER
 */

.footer {
  font-size: 1.2em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: right;
  line-height: 1.25;
}

.footer__author {
  color: var(--sub-color);
}

.footer__buttons {
  margin-top: 0.5em;
  width: auto;
}


/**
 * Content
 */

.content {
  display: none;
  width: 750px;
  font-size: 1.5em;
  padding: 0 30px 30px 30px;
  margin-bottom: 45px;
}
.content.is-open {
  display: block;
}

.section {
  padding: 15px;
  border-right: 5px solid transparent;
}
.section.is-highlighted {
  border-color: var(--highlight-color);
}


.option {
  display: flex;
  align-items: center;
  line-height: 2;
  padding: 5px 15px 5px 10px;
  border-left: 5px solid transparent;
}
.option:hover {
  border-left-color: var(--highlight-color);
  background-color: var(--sidebar-bg-hover-color);
}
.option--sub {
  padding-left: 45px;
}
.option--storelist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.option--store {
  line-height: 1.25;
}


.option__label {
  display: inline-flex;
  flex-grow: 1;
}

.option__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.option__region {
  margin-left: 0;
}


/**
 * Credits
 */

.credits {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.credits__item {
  font-size: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/**
 * Language
 */

.lang {}
.lang + .lang {
  margin-top: 45px;
}
.lang__name {
  margin: 0;
}
.lang__perc {
  font-size: 0.8em;
  color: var(--sub-color);
  margin-bottom: 5px;
}
.lang__credits {
  font-size: 0.9em;
  line-height: 1.75;
}


/**
 * Notification
 */

.notification {
  font-size: 2rem;
  opacity: 0;
  position: fixed;
  padding: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--highlight-color);
  z-index: 999;
  pointer-events: none;
}
.notification__img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 15px;
}
.notification__img.lds-dual-ring::after {
  border-width: 0.25em;
  height: 1em;
  width: 1em;
  margin: 0;
}

.notification-save {
  opacity: 1;
}

/**
 * Regions
 */

.regions {}
.regions__buttons {
  margin-top: 10px;
}


/*
 * Custom Links
 */

.custom-link {
  white-space: nowrap;
}
.custom-link > div > div {
  display: flex;
  justify-content: space-between;
}

.custom-link__input {
  width: 25em;
}

.custom-link__close {
  background-image: url('../img/remove.png');
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 1.5em;
  min-width: 1.5em;
  padding: 0;
  vertical-align: middle;
}


/**
 * Status
 */

.itad-status {
  flex-grow: 1;
}
.itad-status--connected {
  color: var(--color-success);
}
.itad-status--disconnected {
  color: var(--color-error);
}


/**
 * State
 */

.is-disabled {
  opacity: 0.2;
  pointer-events: none;
}

.is-hidden {
  display: none;
}


/**
 * Changelog
 */
.changelog {}

.changelog__release {
  margin-top: 25px;
  margin-bottom: 100px;
}

.changelog__version {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: bold;
  color: #333643;
  margin: 0;
  padding: 0;
}

.changelog__log {
  line-height: 1.75;
  padding-left: 50px;
}
