name: eslint
on: [push, pull_request]
jobs:
  run-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "npm"
      - run: npm install
      - run: npx eslint .
